<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <a href="<%= @product.url %>" target="_blank">Open it!!</a>
      <%= link_to "Back", products_path %>
    </div>
  </div>
</div>
